{% load static %}
{% include 'header.html' %}
<style>
.button1234 {
  display: inline-block;
  flaot:left;
  border-radius: 7px;
  background-color: #6666e2;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding:18px;
  width: 170px;

  transition: all 0.5s;
  cursor: pointer;
  margin: 0px 0px 0px 800px;
}

.button1234 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1234 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1234:Register span {
  padding-right: 25px;
}

.button1234:Register span:after {
  opacity: 1;
  right: 0;
}
</style>

<section class="event_schedule_area p_120">
        	<div class="container">
        		<div class="main_title">
        			<h2>Non-technical events</h2>
        		</div>
        		<div class="event_schedule_inner">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Events</a>
						</li>
						<!--<li class="nav-item">-->
							<!--<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Day 02</a>-->
						<!--</li>-->
					</ul>
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
							{% for i in data %}
							<div class="media">
								<div class="d-flex">
									<img src="{% static 'img/schedule-1.jpg' %}" alt="">
								</div>
								<form action="/nontech" method="POST">
									{% csrf_token %}
									<input type="text" name="id" value="{{i.id}}" hidden>
								<div class="media-body" style="float:left;">
									<h5>{{i.time1}}</h5>
									<h4>{{i.event_name}}</h4>
                                    <p>Fees:{{i.fees}}</p>
									<p>Location:{{i.location}}</p>

									{% if i.registered == 'False' %}
									<button type="submit" class="button1234" style="color: white;"><span>Register </span></button>
									{% else %}

									<button type="" class="button1234" disabled><span>Success </span></button>
									{% endif %}


								</div>
									</form>
							</div>
							{% endfor %}

						</div>
					</div>
        		</div>
        	</div>
        </section>
{% include 'footer.html' %}